@model ParkSomewhereApp.Models.Park
@{
    ViewBag.Title = Model.ParkName;
    var comments = (IEnumerable<ParkSomewhereApp.Models.Review>)ViewBag.ReviewComments;

    var photos = (IEnumerable<ParkSomewhereApp.Models.Photo>)ViewBag.Image;
    var ratingSum = ViewBag.RatingSum;
    var ratingCount = ViewBag.RatingCount;

    decimal rating = 0;
    if (ratingCount > 0)
    {
        rating = (ratingSum / ratingCount);
    }
    var totalRating = decimal.Parse(rating.ToString());
}

<h2>Details</h2>

<div>
    <h4>Park</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParkName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpenTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CloseTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CloseTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripton)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripton)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.Photo)" height="120" width="120"/>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvgRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvgRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberRatings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberRatings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Restrooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Restrooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PicnicArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PicnicArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Playground)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Playground)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HikingTrail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HikingTrail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PavedTrail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PavedTrail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BasketballCourt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BasketballCourt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseballDiamond)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseballDiamond)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CampGround)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CampGround)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fishing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fishing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Swimming)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Swimming)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FitnessTrail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FitnessTrail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADAAccessible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADAAccessible)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ParkID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


<h2>@Model.ParkName</h2>
<div>
    <span class="starFadeN" id="sRate1"></span><span class="starFadeN" id="sRate2"></span><span class="starFadeN" id="sRate3"></span><span class="starFadeN" id="sRate4"></span><span class="starFadeN" id="sRate5"></span>
</div>


<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripton)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripton)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.ParkName)
        </dd>
    </dl>
</div>
@foreach (var c in comments)
{
    <hr />
    <div class="row">
        <div class="col-md-3">
            <i>@c.ReviewTimeStamp</i>
            <p>By @c.AspNetUser.UserName</p>
            <br />
            @for (var i = 1; i <= c.Rating; i++)
            {
                <span class="starGlowN"></span>
            }
            @for (var i = (c.Rating + 1); i <= 5; i++)
            {
                <span class="starFadeN"></span>
            }
        </div>
        <div class="col-md-9">
            @Html.Raw(c.ReviewComments.Replace("\n", "<br />"))


        </div>
    </div>
}
<hr />
<script>
    function SCRate() {
        for (var i = 1; i <= @totalRating; i++) {
            $("#sRate" + i).attr('class', 'starGlowN');
        }
    }
    $(function(){
        SCRate();
    });
</script>



@*@model ParkSomewhereApp.Models.Park

    @{
        ViewBag.Title = "Details";
    }*@

    