<link href="~/Content/parkdetailsStyle.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="~/Content/JavaScript.js"></script>
@model ParkSomewhereApp.Models.Park
@{
    ViewBag.Title = Model.ParkName;
    var comments = (IEnumerable<ParkSomewhereApp.Models.Review>)ViewBag.ReviewComments;
    var ratingSum = ViewBag.RatingSum;
    var ratingCount = ViewBag.RatingCount;
    decimal rating = 0;
    if (ratingCount > 0)
    {
        rating = (ratingSum / ratingCount);
    }
    var totalRating = decimal.Parse(rating.ToString());

}
<body>

    <div class="row-fluid" id="content">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12" style="opacity:1">

            <h2>@Model.ParkName</h2>

            <div>
                @for (int i = 0; i < totalRating; i++)
                {
                    <span class="starGlowN"></span>
                }
                @for (var i = (totalRating + 1); i <= 5; i++)
                {

                    <span class="starFade"></span>
                }
            </div>


            <p>@Html.DisplayFor(model => model.Descripton)</p>
        </div>

        <div class="row-fluid" style="height:500px ; background-color: bisque;z-index:1">
            <div class="col-lg-1"></div>
            <div class="col-sm-6 col-xs-10 col-md-5 col-lg-5">
                <div class="carousel-inner">
                    <div class="thumbnail-frame" style="z-index:1">
                        <img src="@Html.DisplayFor(model => model.Photo)" style="height:300px" width="490px" />
                        <span></span>
                    </div>
                </div>
                <a class="carousel-control left" href='#carousel' data-slide="prev">
                    <span class='glyphicon glyphicon-chevron-left'></span>
                </a>
                <a class="carousel-control right" href='#carousel' data-slide="next">
                    <span class='glyphicon glyphicon-chevron-right'></span>
                </a>
            </div>

            <div class="col-sm-offset-0 col-xs-offset-0 col-lg-2 col-md-offset-0"></div>
            <div class="col-sm-6 col-xs-10 col-md-5 col-lg-5">
                <div class="thumbnail" style=" background-color:#cbeea8;opacity:0.9">
                    <div class="caption">

                        <b class="boolTitle">@Html.DisplayNameFor(model => model.Address):</b> <p>@Html.DisplayFor(model => model.Address)</p> 

                        <b class="boolTitle">Park Opens: </b><p>@Html.DisplayFor(model => model.OpenTime)AM    </p> 
                        <b class="boolTitle"> Park Closes: </b> <p>@Html.DisplayFor(model => model.CloseTime)PM  </p>    
                        <b class="boolTitle">@Html.DisplayNameFor(model => model.Restrooms): </b> @Html.DisplayFor(model => model.Restrooms)

                        <b class="boolTitle">Picnic Area:</b>@Html.DisplayFor(model => model.PicnicArea)
                        <b class="boolTitle">@Html.DisplayNameFor(model => model.Grill):</b>  @Html.DisplayFor(model => model.Grill)
                        <b class="boolTitle"> @Html.DisplayNameFor(model => model.Playground):</b> @Html.DisplayFor(model => model.Playground)<br />
                        <b class="boolTitle"> Hiking Trail:</b> @Html.DisplayFor(model => model.HikingTrail)
                        <b class="boolTitle"> Paved Trail</b> @Html.DisplayFor(model => model.PavedTrail)
                        <b class="boolTitle"> Basketball Court</b>  @Html.DisplayFor(model => model.BasketballCourt)<br />
                        <b class="boolTitle">Baseball Diamond</b>  @Html.DisplayFor(model => model.BaseballDiamond)
                        <b class="boolTitle">Campground</b>  @Html.DisplayFor(model => model.CampGround)
                        <b class="boolTitle"> @Html.DisplayNameFor(model => model.Fishing):</b>  @Html.DisplayFor(model => model.Fishing)<br />
                        <b class="boolTitle">@Html.DisplayNameFor(model => model.Swimming):</b> @Html.DisplayFor(model => model.Swimming)
                        <b class="boolTitle">Fitness Trail</b>  @Html.DisplayFor(model => model.FitnessTrail)
                        <b class="boolTitle">ADA Accessible</b> @Html.DisplayFor(model => model.ADAAccessible)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="space">
        <div class="col-lg-12"></div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            @foreach (var c in comments)
            {

                <div class="row" style="background-color:bisque">
                    <div class="col-md-3">
                        <i>@c.ReviewTimeStamp</i><br/>
                        <b class="boolTitle">By @c.AspNetUser.UserName</b>
                        <br />
                        @for (var i = 1; i <= c.Rating; i++)
                        {
                            <span class="starGlowN"></span>
                        }
                        @for (var i = (c.Rating + 1); i <= 5; i++)
                        {

                            <span class="starFade"></span>
                        }
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-md-5">
                        <br /><br />
                        <p> @Html.Raw(c.ReviewComments.Replace("\n", "<br />"))</p>

                    </div>
                </div>
                <br />

            }
        </div>
    </div>

</body>