@model IEnumerable<ParkSomewhereApp.Models.Park>

@{
    ViewBag.Title = "Index";
}


<!DOCTYPE html>
<head>

    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>


<script type="text/javascript">
//js arrays made from razor
        var latArray = [];
    var longArray = [];
    var parkArray = [];
    var descArray = [];

    @foreach (var d in Model)
    {
        @:latArray.push("@d.Latitude");
    }

    @foreach (var d in Model)
    {
        @:longArray.push("@d.Longitude");
    }

        @foreach (var d in Model)
    {
        @:parkArray.push("@d.ParkName");
    }

       @foreach (var d in Model)
    {
        @:descArray.push("@d.Descripton");
    }
</script>



<h3>My Google Maps Demo</h3>
<div id="map"></div>
<script>
    //map test 1:
    function initMap() {
        //creating map
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: { lat: 41.375517, lng: -81.574519 }


        });
        var marker, i;
       //var infowindow = new google.maps.InfoWindow({});
        //dropping pin in certain position:
        for (i = 0; i < latArray.length; i++) {
            // alert(latArray[i]);
            marker = new google.maps.Marker({
                position: { lat: parseFloat(latArray[i]), lng: parseFloat(longArray[i]) },
                map: map,
                title: parkArray[i],
                //icon: 'images/treeicon.png',
            });
            //info box & content
            //google.maps.event.addListener(marker, 'click', function () {
            //    this.info.open(map, marker);
            //});
            //marker.info = new google.maps.InfoWindow({
            //    content: (i + 1) + ". " + parkArray[i] + ": " + descArray[i]

            //});
            (function (marker, i) {
                // add click event
                google.maps.event.addListener(marker, 'click', function () {
                    infowindow = new google.maps.InfoWindow({
                        content: (i + 1) + ". " + parkArray[i] + ": " + descArray[i]
                    });
                    infowindow.open(map, marker);
                });
            })(marker, i);

        }


        ////info box for each marker
        //for (var i = 0; i < latArray.length; i++) {
        //    marker.info = new google.maps.InfoWindow({
        //        content: i + ": " + parkArray[i]
        //    });

        //    google.maps.event.addListener(marker, 'click', function () {
        //        marker.info.open(map, marker);
        //    });
        //}


        //content in info box
        //var contentString = '<div id="content">' +
        //    '<div id="siteNotice">' +
        //    '</div>' +
        //    '<h1 id="firstHeading" class="firstHeading"></h1>' +
        //    '<div id="bodyContent">' +
        //    '<p>This is a great park!</p>' +
        //    '<p>Link to park details</p>' +
        //    '</div>' +
        //    '</div>';

        ////info window set up
        //var infowindow = new google.maps.InfoWindow({
        //    content: contentString
        //});

        ////function to call info window onclick
        //marker.addListener('click', function () {
        //    infowindow.open(map, marker);
        //});

    }



</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0NV4Ogr4ug_24trb2h5LEeeY_nD8xeH0&callback=initMap">
</script>








<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ParkName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpenTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CloseTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripton)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvgRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberRatings)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Restrooms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PicnicArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grill)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Playground)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HikingTrail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PavedTrail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BasketballCourt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaseballDiamond)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CampGround)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fishing)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Swimming)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FitnessTrail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADAAccessible)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParkName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CloseTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripton)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvgRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberRatings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restrooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PicnicArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Playground)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HikingTrail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PavedTrail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasketballCourt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaseballDiamond)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CampGround)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fishing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Swimming)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FitnessTrail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ADAAccessible)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ParkID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ParkID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ParkID })
            </td>
        </tr>
    }

</table>
