@model IEnumerable<ParkSomewhereApp.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <tr>
        <th>
            @Html.DropDownList("ParkID", null, htmlAttributes: new { @class = "form-control" })
        </th>
        <th>
            <input type="submit" value="Search" class="btn btn-default" />
        </th>

    </tr>
}



        @foreach (var item in Model)
    {
        
            <p>
                @Html.DisplayFor(modelItem => item.ReviewTitle)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.ReviewComments)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.ReviewTimeStamp)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Rating)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.TotalVotes)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Park.ParkName)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.AspNetUser.Email)
            </p>

            <p>
                @Html.ActionLink("Edit", "Edit", new { id = item.ReviewID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ReviewID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ReviewID })
            </p>
        
        
}
            <div id="disqus_thread"></div>

    

<script>

    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function () { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://parksomewhere.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>